* {
  box-sizing: border-box;
  font-family: "sans-serif", Tahoma, serif;
}
main {
  background-color: #f1faee;
  color: #1d3557;
}

header,
footer {
  background-color: #1d3557;
  color: #f1faee;
}

/* Header/Nav CSS Section*/
h1 {
  margin: 0px;
}
header > div {
  text-align: center;
  margin: 0px;
}
nav {
  display: flex;
  justify-content: center;
}
nav a {
  padding: 15px;
  font-family: Georgia, Tahoma, serif;
  font-weight: 100;
}
/* Header/Nav CSS Section End*/

/* Main / Section 1 / Interest */
img {
  border-radius: 15px;
}
#pictureOfOscar {
  /* border-radius: 25px; */
  display: block;
  padding: 50px 0px;
  margin: 0 auto;
}
article {
  max-width: 300px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
#contact {
    padding-bottom: 35px;
}
h2 {
  text-align: center;
}
h3 {
  font-size: 18px;
  font-weight: normal;
}
/* Main / Section 1 / Interest End*/

/* Links CSS Section*/
a:link,
a:visited {
  text-align: center;
  display: inline-block;
}
a:link {
  color: #457b9d;
  text-decoration: none;
}
a:visited {
  color: #fd0015;
  text-decoration: none;
}
a:hover {
  color: #ccc4b9;
  text-decoration: underline;
}
a:active {
  color: rgb(245, 97, 213);
  text-decoration: underline;
}
/* Links CSS Section End*/

/* Footer Section End*/
footer p {
    margin: 0;
    min-height: 60px;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
/* Footer Section End*/