* {
  box-sizing: border-box;
  font-family: Arial, Tahoma, serif;
}
main {
  background-color: #F1FAEE;
  color: #1d3557;
}
section {
  max-width: 300px;
  margin: auto;
  padding-top: 20px;
}

header, footer {
  background-color: #1d3557;
  color: #F1FAEE;
}


/* Header/Nav CSS Section*/
h1, h1 > p {
  margin: 0px;
}
header > div {
  text-align: center;
  margin: 0px;
}
nav {
  float: right;
  max-width: 800px;
  padding: 15px 0px; /* issue here maybe?*/
}
nav a {
  padding: 15px;
  font-family: Georgia, Tahoma, serif;
  font-weight: 100;
}
/* Header/Nav CSS Section End*/


/* Main / Section 1 / Interest */
img {
  border-radius: 15px;
}
#pictureOfOsacar {
  /* border-radius: 25px; */
  display: block;
  padding: 50px 0px;
  margin: 0 auto;
}
h2 {
  text-align: center;
}
/* Main / Section 1 / Interest End*/


/* Links CSS Section*/
a:link, a:visited {
  text-align: center;
  display: inline-block;
}
a:link { 
  color: #457B9D;  
  text-decoration: none;
}
a:visited {
  color: #E63946;  
  text-decoration: none; 
}
a:hover {
  color: #ccc4b9; 
  text-decoration: underline;
}
a:active { 
  color: rgb(245, 97, 213);  
  text-decoration: underline;
}
/* Links CSS Section End*/

footer {

}
